/* RESPONSIVE DESIGN */
/* Tablet devices */

@media (max-width: 992px) {
  /* Nav bar */
  #nav-toggle {
    display: block;
    z-index: 99;
  }

  nav {
    padding: 40px 10px 20px 0px;
    position: relative;
    margin-top: 0px;
  }

  #nav-leftside a {
    display: none;
  }
  #nav-rightside {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    position: absolute;
    padding: 20px;
    top: 0px;
    right: 0px;
    background-color: transparent;
  }
  #nav-items {
    display: none;
    gap: 20px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    width: 50vw;
    height: 100vh;
  }

  #nav-rightside.active {
    background-color: white;
    z-index: 100;
  }

  #nav-items.active {
    display: flex;
  }

  #nav-items.active :hover {
    background-color: #dab7a3;
  }

  #home-btn.active {
    display: block;
  }

  #nav-toggle.active .bar:nth-child(1) {
    opacity: 0;
  }

  #nav-toggle.active .bar:nth-child(2) {
    transform: translateY(19px) rotate(45deg);
  }

  #nav-toggle.active .bar:nth-child(3) {
    transform: translateY(10px) rotate(-45deg);
  }

  /* HERO SECTON */

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    margin: -160px auto;
  }

  #hero-text {
    font-size: 1.8rem;
    margin: 10px auto;
    max-width: 90vw;
  }

  .cta-btn {
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 2rem;
    background-color: #ffa800;
  }

  #catpic {
    margin: 40px auto;
  }
  #circle {
    width: 450px;
    position: absolute;
  }
  #cat {
    width: 450px;
    position: relative;
    top: 20px;
    left: 20px;
  }

  /* SECOND SECTION */

  #section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px 0px;
    position: relative;
  }

  #section-2 h1 {
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    max-width: 80%;
  }

  #person-img {
    width: 500px;
    border: 8px solid #ffa800;
    margin-top: 40px;
    padding: 10px;
    border-radius: 50%;
  }

  #pawpics {
    display: flex;
  }

  #pawpics img {
    width: 72px;
  }
  #pawpics-left {
    position: absolute;
    top: 22%;
    left: -220px;
  }
  #pawpics-right {
    position: absolute;
    top: 22%;
    right: -220px;
  }

  #reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    padding: 0px 40px;
  }

  .review {
    margin: 10px;
    text-align: left;
    font-size: 1.8rem;
    padding: 20px 20px;
    border: 3px solid gainsboro;
  }
  .quote-sign {
    display: block;
    font-size: 8rem;
    margin-bottom: -60px;
    margin-left: -20px;
    color: darkgray;
  }

  .reviewer-details {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-top: 30px;
  }

  .reviewer-details img {
    height: 40px;
    margin-right: 15px;
    border: 3px solid #ffa800;
    border-radius: 50%;
  }

  /* THIRD SECTION */
  .fact {
    padding: 40px;
    font-size: 1.8rem;
    color: #f5ebd7;
  }
  .fact span {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 3px solid #895f46;
    background-color: #a87353;
    transform: rotate(-10deg);
  }
  .fact p {
    margin-left: 0px;
  }

   /* FOURTH SECTION */
  
#section-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 600px auto 0px auto;
  max-width: 80vw;
}

#section4-left {
  text-align: right;
  font-size: 2rem;
  font-weight: bolder;
}
}

/* Mobile devices */

@media (max-width: 768px) {
  /* Nav bar */
  #nav-toggle {
    display: block;
    z-index: 99;
  }

  nav {
    padding: 20px 10px 10px 0px;
    position: relative;
    margin-top: 0px;
  }

  #nav-leftside a {
    display: none;
  }
  #nav-rightside {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    position: absolute;
    padding: 20px;
    top: 0px;
    right: 0px;
    background-color: transparent;
  }

  #nav-items {
    display: none;
    gap: 20px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    width: 50vw;
    height: 100vh;
  }

  #nav-rightside.active {
    background-color: white;
    z-index: 100;
  }

  #nav-items.active {
    display: flex;
  }

  #nav-items.active :hover {
    background-color: #dab7a3;
  }

  #nav-toggle.active .bar:nth-child(1) {
    display: none;
  }

  #nav-toggle.active .bar:nth-child(2) {
    transform: translateY(0px) rotate(45deg);
  }

  #nav-toggle.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  /* HERO SECTON */

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    margin: -80px auto;
  }

  #hero-text {
    font-size: 1rem;
    margin: 10px auto;
  }

  .cta-btn {
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #ffa800;
  }

  #catpic {
    margin: 40px auto;
  }
  #circle {
    width: 350px;
    position: absolute;
  }
  #cat {
    width: 350px;
    position: relative;
    top: 20px;
    left: 20px;
  }

  /* SECOND SECTION */

  #section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px 0px;
    position: relative;
  }

  #section-2 h1 {
    font-weight: bolder;
    font-size: 2.3rem;
    text-align: center;
    max-width: 80%;
  }

  #person-img {
    width: 350px;
    border: 8px solid #ffa800;
    margin-top: 40px;
    padding: 10px;
    border-radius: 50%;
  }

  #pawpics {
    display: flex;
  }

  #pawpics img {
    width: 50px;
  }
  #pawpics-left {
    position: absolute;
    top: 22%;
    left: -220px;
  }
  #pawpics-right {
    position: absolute;
    top: 22%;
    right: -220px;
  }

  #reviews {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0px 40px;
  }

  .review {
    margin: 10px;
    text-align: left;
    font-size: 1.5rem;
    padding: 20px 20px;
    border: 3px solid gainsboro;
  }
  .review:nth-child(3),
  .review:nth-child(4) {
    display: none;
  }
  .quote-sign {
    display: block;
    font-size: 8rem;
    margin-bottom: -60px;
    margin-left: -20px;
    color: darkgray;
  }

  .reviewer-details {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-top: 30px;
  }

  .reviewer-details img {
    height: 40px;
    margin-right: 15px;
    border: 3px solid #ffa800;
    border-radius: 50%;
  }

  /* THIRD SECTION */

  #section-3 {
    margin: 50px 0px;
  }

  #section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  #cat-in-bowl {
    width: 400px;
    z-index: 2;
  }
  #section3-content {
    background-color: #e89058;
    border: 3px solid #a87353;
    padding-bottom: 50px;
    position: absolute;
    top: 50%;
    z-index: 1;
  }
  #facts {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .fact {
    padding: 40px;
    font-size: 1.3rem;
    color: #f5ebd7;
    margin-bottom: -50px;
  }
  .fact span {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 3px solid #895f46;
    background-color: #a87353;
    transform: rotate(-10deg);
  }
  .fact p {
    margin-left: 0px;
  }

  /* FOURTH SECTION */

  #section-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 600px auto 0px auto;
    max-width: 80vw;
  }
  #section-4 .cta-btn {
    padding: 15px;
    margin: 0px;
    font-size: 1.3rem;
  }

  #section4-left {
    text-align: right;
    font-size: 0.9rem;
    font-weight: bolder;
  }
}
